* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #59009A;
    font-style: italic;
  }
  
 
  
  body {
    font-family: sans-serif;
    margin: 0;
    position: absolute;
    padding: 0;
    background-color: #fffcfc;
    width: 100%;
    left: 0%;
  }
  
  .arriba {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      border-bottom: 1px solid #333;
  }
  .logo {
      display: flex;
      align-items: center;
  }
  .logo img {
      width: 50px;
      height: 50px;
      margin-right: 10px;
  }
  .logo h1 {
      margin: 0;
  }
  .user {
      display: flex;
      align-items: center;
      margin: 0px;
  }
  .user a {
      margin-right: 20px;
      color: #59009A;
      text-decoration: none;
    
      margin-inline-start: auto;
  }
  .user img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
  }
  .nav {
    color: #59009A;
    position: relative;
    margin-left: 880px;
    
    }
    
    .submenu {
    position: absolute;
    background-color: #fff;
    padding: 5px 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    top: 24px;
    left: 0px;
    width: auto;
    }
    
    .nav:hover .submenu {
    display: flex;
    }
    
    .submenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    }
    
    .submenu li {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    }
    
    .submenu li:hover {
    background-color: #f0f0f0;
    }
  
  
  .formulario {
    background-color: #fff; /* Fondo blanco para el formulario */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .formulario h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .formulario label {
    display: block;
    margin-bottom: 5px;
  }
  
  .formulario textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical; /* Permite redimensionar verticalmente el textarea si es necesario */
  }
  
  .formulario button {
    float: right; /* Colocamos el botón a la derecha */
    background-color: purple;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  footer {
    background-color: #59009A;
    color: #ffffff;
    padding: 10px;
}

.footer-container {
    display: flex;
    padding: 0;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.contact-item {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    text-align: center;
}

.contact-item span {
    margin-bottom: 5px;
}

.iconos {
    display: flex;
    justify-content: center;
}

.iconos a {
    margin: 0 10px;
}

.iconos img {
    width: 24px;
    height: 24px;
}

.quienes-somos {
    align-self: center;
    color: #ffffff;
    text-decoration: none;
    margin-left: auto;
}