* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
  }
  
  .navbar {
    background-color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 65px;
    height: 60px;
    margin-right: 10px;
  }
  
  .navbar span {
    color: #59009A;
    font-weight: bold;
    margin-right: 20px;
  }
  
  .servicios {
    position: relative;
  }
  
  .submenu {
    position: absolute;
    background-color: #fff;
    padding: 5px 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    top: 40px;
    left: 0;
    width: auto;
  }
  
  .servicios:hover .submenu {
    display: block;
  }
  
  .submenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .submenu li {
    padding: 20px;
    border-bottom: 1px solid #ddd;
  }
  
  .submenu li:hover {
    background-color: #f0f0f0;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }

  .imagen-usuario{
    width: 30px;
    height: 30px;
  }
  
  .body {
    padding: 20px;
  }
  
  .footer {
    background-color: #59009A;
    color: #fff;
    padding: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-links {
    display: flex;
    align-items: center;
  }
  
  .contactamos,
  .canales-atencion,
  .social-media {
    display: flex;
    align-items: center;
    margin-right: 1px;
  }
  
  .contactanos span,
  .canales-atencion span,
  .social-media span {
    margin-right: 10px;
  }
  
  .texto-footer {
    text-align: right;
  }
  
  .formulario {
    background-color: #fff; /* Fondo blanco para el formulario */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .formulario h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .formulario label {
    display: block;
    margin-bottom: 5px;
  }
  
  .formulario input[type="text"],
  .formulario textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .formulario textarea {
    height: 100px; /* Altura fija para el textarea */
  }
  
  .formulario button {
    float: right; /* Colocamos el botón a la derecha */
    background-color: #8A66FD;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  