body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
  }
  
  .navbar {
    background-color: #fff;
    padding: 1em;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 65px;
    height: 60px;
    margin: 0px 25px 0px 10px;
  }

  .logo span{
    font-size: 20px;
  }
  
  .navbar span {
    color: #59009A;
    font-weight: bold;
    margin-right: 20px;
  }
  
  .servicios {
    position: relative;
    margin-left: auto;
    font-size: 18px;
  }

  .submenu {
    position: absolute;
    background-color: #fff;
    padding: 5px 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    top: 22px;
    left: 0;
    width: auto;
  }
  
  .servicios:hover .submenu {
    display: block;
  }
  
  .submenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .submenu li {
    padding: 20px;
    border-bottom: 1px solid #ddd;
  }
  
  .submenu li:hover {
    background-color: #f0f0f0;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    margin-left: 15px;
    font-size: 18pxpx;
  }

  .imagen-usuario{
    width: 30px;
    height: 30px;
  }
  
.logo h1 {
    margin: 0;
    font-size: 24px;
    color:  #59009A;
}

.especialista {
    display: flex;
    align-items: center;
}

.especialista span {
    margin-right: 10px;
    color: #000;
}

.profile-icon img {
    height: 40px;
    border-radius: 50%;
}

main {
    padding: 20px;
}

.search-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-section input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.profile-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 10px;
}

.profile img {
    height: 80px;
    width: 80px;
    border-radius: 10px;
    margin-right: 20px;
}

.profile-info {
    flex-grow: 1;
}

.profile-info h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
    color:  #59009A;
}

.profile-info p {
    margin: 0;
    font-size: 14px;
    color: #333;
}

.footer {
    background-color: #59009A;
    color: #fff;
    padding: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-links {
    display: flex;
    align-items: center;
  }
  
  .contactamos,
  .canales-atencion,
  .social-media {
    display: flex;
    align-items: center;
    margin-right: 1px;
    flex-direction: column;
  }
  
  .contactanos span,
  .canales-atencion span,
  .social-media span {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .imagenes-container {
    display: flex;
    align-items: center;
  }

  .imagen-footer{
    margin-right: 10px;
  }
  
  .texto-footer {
    text-align: right;
    align-items: center;
  }
